@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
    font-style: normal;
}

$color-body: #F5F5F5;
$color-font: #001A49;
$color-font-gray: #4F596A;
$color-white: #FFFFFF;
$color-border: #E7EAEB;

%flex-item {
    display: flex;
    justify-content: space-between;
}

a {
    color: $color-font;
    text-decoration: none;
}

body {
    background-color: $color-body;
    margin: auto;
    width: 1120px;
}

main {
    margin-top: 200px;
}

header {
    @extend %flex-item;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 1120px;
    background-color: $color-body;

    ul {
        @extend %flex-item;
        list-style-type: none;
    }

    li {
        font: 700 18px 'Mulish';

        a {
            color: $color-font;
        }

        a:hover {
            border-bottom: 2px solid $color-font;
        }
    }

    li:not(:last-child) {
        margin-right: 37px;

    }

    .img-logo {
        background-image: url(../img/Course\ topics.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 124px;
        height: 25px;
    }

    .logo-btn {
        background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
        border-radius: 33px;
        padding: 15px 24px;
        color: $color-white;

        &:hover {
            background: rgb(119, 119, 235);
        }
    }
}




.main-card {
    @extend %flex-item;
    position: relative;

    .video {
        background-image: url(../img/Group\ 7.png);
        background-repeat: no-repeat;
        width: 720px;
        height: 450px;
        position: absolute;
        z-index: 1;
        left: 55%;
        margin: auto;
    }

    .main-left-side {
        @extend %flex-item;
        flex-direction: column;
        width: 550px;
        height: 400px;

        h1 {
            font: 700 60px 'Montserrat';
            color: $color-font;
        }

        p {
            font: 400 20px 'Mulish';
            color: $color-font-gray;
        }

        .subscribe-btn {
            background: linear-gradient(44.11deg, #8FBBE6 15.75%, #3D75BF 84.63%);
            border-radius: 33px;
            width: 180px;
            padding: 15px 24px;
            text-align: center;
            color: $color-white;

            &:hover {
                background: rgb(119, 119, 235);
            }
        }
    }

}

.main-statistic {
    position: relative;
    margin-top: 270px;

    .img-ovali {
        background-image: url(../img/Side\ Shape.png);
        background-repeat: no-repeat;
        width: 288px;
        height: 288px;
        position: absolute;
        right: 85%;
        top: 35px;
    }

    .statistic-info {
        position: relative;
        z-index: 1;
        height: 170px;
        width: 100%;
        border: 1px solid $color-border;
        background-color: $color-body;
        border-radius: 21px;
        @extend %flex-item;
        align-items: center;
        justify-content: space-around;

        .data-stat-1,
        .data-stat-2,
        .data-stat-3 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font: 700 40px 'Montserrat';
                color: $color-font;
            }

            p {
                font: 400 16px 'Mulish';
                color: $color-font-gray;
            }
        }

        .data-stat-1 {
            margin-left: 55px;
        }

        .data-stat-3 {
            padding-right: 55px;
        }

        .line {
            width: 1px;
            height: 112px;
            background-color: $color-border;
        }

    }
}

.main-advantages {
    margin-top: 170px;
    margin-bottom: 150px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            font: 700 46px 'Montserrat';
            color: $color-font;
        }

        p {
            font: 400 20px 'Mulish';
            color: $color-font-gray;
            width: 560px;
            margin-top: 5px;
            padding-bottom: 31px;
        }
    }

    .container {
        @extend %flex-item;
        background: linear-gradient(44.11deg, #99C6F2 15.75%, #3D75BF 84.63%);
        border-radius: 21px;
        width: 100%;
        height: 172px;
        align-items: center;

        .icon-img {
            background-image: url(../img/Group\ 8.svg);
            background-repeat: no-repeat;
            width: 64px;
            height: 64px;
            margin-left: 46px;
        }

        h2 {
            font: 700 24px 'Montserrat';
            color: $color-font;
        }

        p {
            font: 400 16px 'Mulish';
            color: $color-font-gray;
            margin-top: 20px;
            margin-right: 30px;
            width: 960px;
        }
    }

    .container:not(:first-child) {
        margin-top: 30px;
    }
}